
.details-container{
  background: red;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  .details-contents{
    background: blue;
    width: 67%;
    display: flex;
    justify-content: space-between;
    .details-left{
      height: 100%;
      width: 60%;
      background: yellow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .booking-details{
        height: 100%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        .date-picker{
          height: 100%;
          width: 47%;
          background: purple;
          .date-wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .booking-text{
              height: 30%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
            .calendar-component{
              height: 90%;
            }
          }
          
        }
        .booking-confirm{
          height: 100%;
          width: 47%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background: green;
          position: relative;
          .vertical-placeholder{
            height: 30%;
          }
          .booking-wrapper{
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .date-input, .guest-input, .date-details{
              height: 35%;
              background: orange;
            }
            label{
              position: absolute;
            }
            input{
              height: 60%;
            }
            .date-details{
              width: 100%;
              display: flex;
              justify-content: space-between;
              .time-input{
                width: 48%;
  
                input{
                  width: 100%;
                }
              }
            }
            .date-input,.guest-input{
              width: 100%;
              input{
                width: 100%;
              }
            }
            .cancel-policy{
              height: 70%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              background: magenta;
              border: 1px solid lightgray;
              .policy-text{
                height: 64%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px solid lightgray;
              }
            }
          }
          
        }
      }
      .plan-section{
        height: 46%;
        background: cyan;
        display: flex;
        justify-content: space-between;
        
        .plan-detail{
          width: 47%;
          background: teal;
        }
      }
      
    }
    .details-right{
      height: 100%;
      width: 32%;
      background: pink;
      .details-confirm{
        width: 100%;
        height: 60%;
        background: orange;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
        }
        .confirm-section{
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 25%;
          background: lightgreen;
        }
        .confirm-list{
          height: 25%;
          background: turquoise;
          line-height: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .confirm-item{
            width: 100%;
            display: flex;
            justify-content: space-between;
            list-style: none;
          }
        }
      }
      .details-buttons{
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button{
          height: 40%;
          border: 1px solid lightgray;
          border-radius: 10px;
          position: relative;
          top: 30px;
        }
      }
    }
  }
}