@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.home-container{
  width: 100vw;
  max-width: 100%;
  
  .home-carousel{
    box-sizing: border-box;
    padding-bottom: 2.5vh;
  }
  .about-banner{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    text-align: center;
    font-family: 'Neue-Bold';
    padding-top: 50px;

    .banner-contents{
      max-width: 100%;
      width: 100%;
      height: 100%;
      h2{
        font-size: 2rem;
      }
      h3{
        color: rgb(167, 167, 167);
        font-size: 1.3rem;
      }
      .banner-subtitle{
        width: 100%;
        position: relative;
        top: 10px;
        line-height: 40px;
        letter-spacing: 2px;
      }
      .banner-input{
        height: 100%;
        width: 100%;
        position: relative;
        top: 60px;
        input{
          width: 28%;
          border-radius: 30px;
          border: none;
          padding: 15px 30px;
          font-size: 1rem;
        }
      }
    }
    
    
  }
}