.hide{
  display: none;
}

.offscreen{
  display: none;
}

.signup-container{
  width: 50%;
  .signup-contents{
    .signup-form{
      display: flex;
      flex-direction: column;

      input{
        padding: 20px 15px;
      }
    }
  }
}